
<div class="container">
<form  (ngSubmit)="processRegistration()">


  <div>
    <label for="">enter email</label>

    <input type="email"   [(ngModel)]="customer.email" name="t2" >
  </div>
  <div>
    <label for="">enter password</label>

    <input type="password" name="t3" [(ngModel)]="customer.password">
  </div>
  <div class="form-group">
    <label for="">enter name</label>

    <input type="text" name="t1" [(ngModel)]="customer.name" required minlength="4" #name="ngModel" class="form-control">
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors?.['required']">
        Name is required.
      </div>
      <div *ngIf="name.errors?.['minlength']">
        Name must be at least 4 characters long.
      </div>

    </div>
  </div>


  <div>
    <label for="">enter date of birth</label>

    <input type="date" name="t4" [(ngModel)]="customer.dateOfBirth">
  </div>

  <div>

    <input type="submit" value="register">
  </div>
  <div *ngIf="customerId">
thank you for registering with us!
your customer id is {{customerId}}
  </div>

<div *ngIf="message">
{{message}}
</div>


</form>
</div>

